

.login-form-holder {
  position: absolute !important;
  width: 300px;
  padding: 10px;
  background-color: rgba(255,255,255, .8);
  left: 120px;
  top: 160px;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 999;
}
.login-head {
  font-size: 20px;
  color: #333333;
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: .1em;
  font-weight: 600;
}
.login-head h2{
  
  color: #333333;
  
}
input#inputbox{
  width: 100%;
  border: 1px solid #000000;
  background-color:#ffffff;
  border-radius: 3px;
  margin-bottom: 10px;
  font-family: sans-serif;
  padding: 5px;
  box-sizing: border-box;
  font-size: .8em;
}
.button {
  font-size: 16px !important;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  background-color: #fff;
  border:1px solid #000000;
  padding: 5px 20px;
  border-radius: 3px;

  display: inline-block;
  width:45%;
  margin-bottom:10px;
}

/*Hide mobile nav  */
.login-headMobile
{
  display:none;
}
.loginMobile
{
  display:none;
}
@media screen and (max-width:  790px) {
  /*hide desktop login form */
  .login-head
  {
    display:none;
  }
  .loginDesktop
  {
    display:none;
  }
  .login-form-holder {
    position: inherit !important;
    width: 100%;
    padding: 15px;  
    border-radius: 0px;
    box-sizing: border-box;
    z-index: 999;
    top:0px !important;
    left:0px !important;
  }
  .login-headMobile
  {
    display:block;
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;

    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .1em;
    font-weight: 600;
  }
  .loginMobile
  {
    display:block;
  }
  input#inputbox{
    width: 100%;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-bottom: 10px;
    font-family: sans-serif;
    padding: 5px;
    box-sizing: border-box;
    font-size: .8em;
  }
  .button {
    font-size: 16px !important;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
    background-color: #fff;
    border:1px solid #000000;
    
    padding: 5px 20px;
    border-radius: 3px;

    display: inline-block;
    width:100%;
    margin-bottom:10px;
  }
   
}




