

.login-form-holder {
  position: absolute !important;
  width: 300px;
  padding: 10px;
  background-color: rgba(255,255,255, .8);
  left: 40px;
  top: 100px;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  z-index: 999;
}
.login-head {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  font-family: "futura-pt";
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: .1em;
  font-weight: 600;
}
input#inputbox{
  width: 100%;
  border: 1px solid #333333;
  border-radius: 3px;
  margin-bottom: 10px;
  font-family: sans-serif;
  padding: 5px;
  box-sizing: border-box;
  font-size: .8em;
}
.button {
  font-size: 16px !important;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: #333;
  background-color: #fff;
  border-color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 3px;
  font-family: 'futura-pt';
  display: inline-block;
  width:100%;
  margin-bottom:10px;
}

/*Hide mobile nav  */
.login-headMobile
{
  display:none;
}
.loginMobile
{
  display:none;
}
@media screen and (max-width:  640px) {
  /*hide desktop login form */
  .login-head
  {
    display:none;
  }
  .loginDesktop
  {
    display:none;
  }
  .login-form-holder {
    position: inherit !important;
    width: 100%;
    padding: 15px;  
    border-radius: 0px;
    box-sizing: border-box;
    z-index: 999;
    top:0px !important;
    left:0px !important;
  }
  .login-headMobile
  {
    display:block;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    font-family: "futura-pt";
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .1em;
    font-weight: 600;
  }
  .loginMobile
  {
    display:block;
  }
  input#inputbox{
    width: 100%;
    border: 1px solid #333333;
    border-radius: 3px;
    margin-bottom: 10px;
    font-family: sans-serif;
    padding: 5px;
    box-sizing: border-box;
    font-size: .8em;
  }
  .button {
    font-size: 16px !important;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #333333;
    background-color: #cccccc;
    border-color: #333333;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    font-family: 'futura-pt';
    display: inline-block;
    width:100%;
    margin-bottom:10px;
  }
   
}




